body {
    font-family: arial, sans-serif;
}

nav {
    padding: 15px 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.leftnav {
    float: left;
}

.rightnav {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
    padding: 6px 12px;
}

.appdrawer {
    vertical-align: middle;
}

.appdrawer input {
    color: rgba(50, 50, 50, 1);
}

.signin {
    background-color: #4484f0;
    border-radius: 2px;
}

.signin a {
    color: white;
}