body {
    font-family: arial, sans-serif;
}

nav {
    padding: 12px 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 8px 8px;
}

.leftnav {
    float: left;
}

.rightnav {
    float: right;
    margin-right: 5px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
}

.appdrawer {
    vertical-align: middle;
}

.appdrawer input {
    filter: opacity(50%);
    margin-right: 12px;
    margin-left: 8px;
}

.appdrawer input:hover {
    filter: opacity(100%);
}

.signin a {
    background-color: #4484f0;
    color: white;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

.center {
    margin-top: 165px;
    text-align: center;
}

.search {
    margin-top: 30px;
    margin-bottom: 50px;
}

.search input[type="search"] {
    border-style: solid;
    width: 550px;
    height: 50px;
    border-radius: 25px;
    border-color: #dfe1e5;
    border-width: 1px;
    font-size: 1em;
}